header {
    background-color: #cc9797;
}

header h1 {
    font-family: "Playwrite ZA", cursive;
    color: #855a5a;
}

body {
    background-color: #e7c7c7;
}

p {
    background-color: #cc9797;
    font-family: "Quicksand", sans-serif;
}

h2 {
    background-color: #855a5a;
    font-family: "Playwrite ZA", cursive;
    color:	#f0dbdb;
}

ol {
    background-color: #ab7474;
    font-family: "Quicksand", sans-serif;
}

ul {
    background-color: #ab7474;
    font-family: "Quicksand", sans-serif;
}

h3 {
    font-family: "Playwrite ZA", cursive;
}

a {
font-family: "Quicksand", sans-serif;
}



footer {
    background-color: #ab7474;
}